* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:wght@400;500;700&display=swap");

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 32, 143);
}

aside {
  cursor: pointer;
}

.hidden {
  display: none;
}

.detail-bar {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.detail-bar__search {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(19, 19, 19);
}

.detail-bar__search button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border: none;
  border-left: 1px solid rgb(19, 19, 19);
}

.detail-bar__search input {
  height: 50px;
  padding: 2px;
  color: white;
  border-right: 1px solid rgb(19, 19, 19);
  outline: none;
  background-color: transparent;
  border: none;
  width: 200px;
  font-size: 1.5rem;
}

.dropdown {
  color: white;
  width: 250px;
  position: absolute;
  transform: translateY(50px);
  background-color: black;
}

.dropdown div {
  cursor: pointer;
}

.dropdown div:hover {
  background-color: blue;
}

.detail-bar__details-section {
  margin: auto 10px 0px 10px;
}

.detail-bar__saved-locations {
  margin: 10px 10px 0px 10px;
}

.detail-bar__saved-locations__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-bar__saved-locations p {
  text-align: center;
}

.detail-bar__saved-locations__header button {
  font-family: Montserrat;
  margin-right: 12px;
  border: none;
  background-color: green;
  font-weight: 100;
  font-size: 12px;
  height: 20px;
  width: 80px;
}

.detail-bar__saved-locations h1 {
  margin: 20px 0px;
  font-size: 1.5rem;
  font-family: Montserrat;
  font-weight: 100;
}

.detail-bar__saved-locations__locations__location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

.detail-bar__saved-locations__locations__location button {
  border: none;
  background-color: transparent;
}

.detail-bar__details-section hr {
  background-color: rgb(19, 19, 19);
  height: 1px;
  border: none;
}

.detail-bar__details-section h1 {
  margin: 20px 0px;
  font-size: 1.5rem;
  font-family: Montserrat;
  font-weight: 100;
}

.detail-bar__details-section__details {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.details__detail {
  color: rgb(136, 136, 136);
  font-weight: 500;
  font-family: Montserrat;
  margin: 10px 0px;
}

.details__detail span {
  color: rgb(255, 255, 255);
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto auto 100px 100px;
}

.unit-selector {
  transform: translateY(15px);
  font-weight: 700;
  font-size: 0.7rem;
  margin-left: 130px;
  width: fit-content;
  color: white;
  cursor: pointer;
}

.inactive-unit {
  color: rgb(68, 68, 68);
}

.weather-summary {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.weather-summary div {
  margin: 0px 10px;
}

.weather-summary__realtemp {
  text-align: center;
  width: 175px;
  font-size: 5rem;
}

.weather-summary__condition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-summary__city-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-summary__city-time__city {
  font-size: 5rem;
}
